* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.series-frame {
  max-width: 600px;
  display: flex;
  align-items: center;
  border: 2px solid #EEE;
  padding: 10px;
  margin: 30px;
}

p {
  font-size: 1.1rem;
  margin-top: .6rem;
}

.series-frame h2 {
  margin-right: 20px;
}

.series-frame p {
  margin-left: 3rem;
}

.my-form {
  margin: 30px;
}
/* ============= */
.app {
  max-width: 500px;
  border: 2px solid #EEE;
  padding: 10px;
  margin: 30px;
}

input,
button {
  padding: 3px 10px;
}

input,
h3 {
  margin-left: 30px;
}

.success {
  padding: 15px;
  margin-top: 15px;
  text-align: center;
  color:#10ac84;
  background-color: #55efc368;
  border-radius: 5px;
}

.danger {
  margin-top: 15px;
  text-align: center;
  color:#ee5253;
  background-color: #ee525268;
  border-radius: 5px;
}

button {
  cursor: pointer;
}